@import 'src/styles/scss/vars';

.section-search__result {
  //background-color: #e64e6c;
  width: 83vw;

  margin-bottom: 15px;

  border-radius: $border-standart;

  .section-search__result-text--wrapper {
    background-color: $light-c;
    width: 83vw;

    margin-bottom: 15px;

    padding: 23px 25px 18px;
    border-radius: $border-standart;
  }

  .section-search__result-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.section-search__result-text {
}

@media screen and (max-width: 1020px) {
  .section-search__result {
    .section-search__result-list {
      width: 83vw;
      justify-content: space-around;
    }
  }
}
