@import 'src/styles/scss/vars';
.section-friends__friend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
  width: 100%;
}
