@import "src/styles/scss/vars";


.logout-text {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  color: $light-c;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

.logout-text__text {
  font-size: 18px;
  font-weight: 600;
}

.logout-text__action {
  margin-top: 60px;
  line-height: 25px;
}

.logout-text__link {
  color: $pink-c;
  text-decoration: none;
}
