@import 'AccountHeader/AccountHeader';
@import 'LeftSidebar/LeftSidebar';
@import 'RightSidebar/RightSidebar';
@import 'MainColumn/MainColumn';
@import 'ProfileIntro/ProfileIntro';
@import 'src/styles/scss/vars';

/*ACCOUNT MAIN *************************************************/

.section-account__main {
  background-color: #37257e;
  width: 83vw;

  margin: 0 auto;
  min-height: 500px;
  border-radius: $border-standart;
  display: flex;
  flex-wrap: wrap;
}

.section-account {
  width: 83vw;

  margin: 15px auto;

  border-radius: $border-standart;
  background-color: white;
}

.section-account__column-one {
  width: 20vw;
}

.section-account__column-two {
  width: 41vw;
  margin: 0 1vw;
}

.section-account__column-three {
  width: 20vw;
}

/*POSTS*/

.section-account__main-column {
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .section-account__column-one {
    display: none;
  }

  .section-account__column-two {
    width: 100vw;
    margin: 0 auto;
  }

  .section-account__column-three {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .section-account {
    width: 70vw;
  }

  .section-account__column-one {
    display: none;
  }

  .section-account__column-two {
    width: 70vw;
    margin: 0 auto;
    padding-top: 20px;
  }

  .section-account__column-three {
    display: none;
  }
}
