@import 'src/styles/scss/vars';
.settings__item {
  border: 1px solid #e6ecf5;
  display: block;

  padding: 25px 0 25px 20px;

  transition: max-height 0.5s;

  &-link {
    text-decoration: none;
    color: #515365;
    font-weight: 700;

    position: relative;
  }

  &-link.active + .settings__submenu {
    max-height: 10rem;
  }
  &-link + .settings__submenu {
    max-height: 0;
  }
  &-link::before {
  }
}

.profile-settings__title {
  font-size: 13px;
  text-transform: uppercase;
  color: #9a9fbf;
  padding-left: 26px;
  font-weight: 700;
}
//
////SUBMENU!!!
.settings__submenu {
  overflow: hidden;
  transition: background 0.2s ease-in-out, max-height 0.29s ease-in;

  &-link:hover {
    border-bottom: 1px solid #e6ecf5;
  }
  &-link {
    display: block;
    padding: 25px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: $dark-c;
    font-weight: 700;
    transition: 0.2s;
  }
}
