@import 'src/styles/scss/vars';

.section-edit__main {
  background-color: #37257e;
  width: 83vw;
  margin: 0 auto;
  min-height: 500px;
  border-radius: $border-standart;
  display: flex;
}

.edit-error {
  color:red;
}

.edit-success {
  color:green;
}

.profile-settings {
  margin: 0;
  padding: 10px 0 0 0;
}

.section-edit__profile-settings {
  background-color: #fbf9fa;
  width: 100%;
  max-width: 295px;
  border-radius: $border-standart;
}

.section-edit__column-two {
  background-color: $light-c;
  margin-left: 15px;
  border-radius: $border-standart;
  width: 100%;
  max-width: 905px;
}

.section-edit__main-column {
  //background-color: red;
  height: 100%;
}

.section-edit__content {
  &-inputs {
    background-color: $light-c;
    border-radius: $border-standart;

    height: 100%;
  }
}

@media screen and (max-width: 950px) {
  .section-edit__main {
    flex-wrap: wrap;
    padding-bottom: 25px;

    .section-edit__column-one {
      width: 100%;

      .section-edit__profile-settings {
        background-color: #fbf9fa;
        width: 100%;
        max-width: 83vw;
        border-radius: $border-standart;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .section-edit__column-two {
      margin-left: 0;
    }
  }
}
