@import 'src/styles/scss/vars';

.section-account__header {
  border-radius: $border-standart;

  .section-account__header-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .section-account__header-interactions {
    position: absolute;

    right: 17%;
    max-width: 150px;
    margin-top: -40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .interaction-button {
      width: 60px;
      height: 60px;
      background: $light-c;
      border: 2px solid $pink-c;
      border-radius: 50%;

      &:hover {
        background: $light-c;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .account-nav-menu {
    display: flex;
    justify-content: space-around;
  }

  .section-account__nav-menu {
    padding-top: 30px;
    padding-bottom: 30px;

    .section-account__menu-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0 10px;
      justify-content: space-around;

      .section-account__menu-item {
        margin-right: 10px;
        .section-account__menu-link {
          text-decoration: none;
          font-weight: 500;
          color: #7d7d7d;
          transition: 0.2s;

          &:hover {
            color: #e64e6c;
          }
        }
      }


    }

    .account-nav-menu__avatar-block {
      width: 310px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      text-align: center;

      .account-nav-menu__avatar {
        position: absolute;
        top: -159px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid white;
        background-color: #0084b4;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .section-account__header {
    .section-account__header-img {
      height: 200px;
    }
  }

  .section-account__nav-menu {
    display: flex;
    flex-wrap: wrap;

    .section-account__menu-list {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .account-nav-menu__avatar-block {
      order: 2;
      margin-top: 20vh;
      flex-direction: column;

      .account-nav-menu__avatar {
        left: 25%;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .section-account__nav-menu {

    .account-nav-menu__avatar-block {
      margin-top: 24vh;

      .account-nav-menu__avatar {
        left: 19%;
      }
      }

  }
}

@media screen and (max-width: 321px) {
  .section-account__nav-menu {

    .account-nav-menu__avatar-block {
      margin-top: 27vh;

      .account-nav-menu__avatar {
        left: 19%;
      }

    }

  }
}
