@import 'src/styles/scss/vars';

.burger-menu {
  display: none;
  position: absolute;
  right: 1.5vw;
  top: 1vh;

  width: 30px;
  height: 30px;
  span {
    display: block;
    background-color: $dark-c;
    border-radius: 4px;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
  }
}

.dialog-window {
  position: relative;
  background-color: $light-c;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 1px solid $text-color;

  .dialog-window__form {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6vh;
    border-bottom-right-radius: 7px;

    .dialog-window__form-input {
      width: 100%;
      padding: 0.85rem 2.1rem;
      border: none;
      transition: 0.2s;

      &:focus {
        outline: none;
      }
    }

    .dialog-window__form-button {
      background-color: #e64e6c;
      color: white;
      border-radius: 5px;
      //width: 7vw;
      min-height: 50px;
      padding: 0.8rem 2.34rem;
      border: none;
      cursor: pointer;
    }
  }

  .dialog-window__start-chat {
    align-self: center;
    font-size: 28px;
  }

  .dialog-window__messages-list {
    width: 100%;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    list-style: none;
    margin: 0;
    padding: 10px 10px 45px 10px;
    overflow: scroll;
    max-height: 83vh;

    .dialog-window__message {
      display: flex;
      margin-bottom: 5px;
      user-select: none;

      &.my {
        flex-direction: row-reverse;
        .dialog-window__user-dialog-wrapper {
          display: flex;
          justify-content: space-between;
          background-color: rgba(87, 63, 227, 0.37);
          max-width: 75%;
          padding: 10px 20px 10px 10px;
          margin-right: 10px;
          border-radius: 5px 0 25px 5px;
          .dialog-window__message-text {
            font-size: 15px;
            margin: 0 0 0 14px;
          }

          .dialog-window__message-time {
            font-size: 10px;
            color: #4d4d4c;
            align-self: flex-end;
            margin: -4px;
          }
        }
      }
      .dialog-window__user-photo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      .dialog-window__user-dialog-wrapper {
        display: flex;
        justify-content: space-between;
        background-color: rgb(212, 219, 227);

        max-width: 75%;
        padding: 10px 10px 10px 20px;
        margin-left: 10px;

        border-radius: 25px 5px 5px 0;

        .dialog-window__message-text {
          font-size: 15px;
          margin: 0 14px 0 0;
        }

        .dialog-window__message-time {
          font-size: 10px;
          color: #4d4d4c;
          align-self: flex-end;
          margin: -4px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .dialog-window {
    padding-top: 45px;
    border-top-left-radius: 7px;

    .burger-menu {
      display: block;
    }
  }
  .messages-list {
    display: none;
    &.active {
      display: block;
      border-top-left-radius: $border-standart;
      border-bottom-left-radius: $border-standart;
      //height: 81vh;
      height: calc(100vh - 24.5%);
      position: absolute;
      top: 100px;
      left: 9.5%;
      z-index: 1;
      box-shadow: 21px 11px 38px -21px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (max-width: 400px) {
  .dialog-window {

    .dialog-window__form {


      .dialog-window__form-input {
        width: 52vw;
        padding: 0.85rem 2.1rem;
        border: none;
        transition: 0.2s;

        &:focus {
          outline: none;
        }
      }

      .dialog-window__form-button {
        background-color: #e64e6c;
        color: white;
        border-radius: 5px;
        padding: 0.8rem 2.34rem;
        border: none;
        cursor: pointer;
      }
    }

    .dialog-window__start-chat {
      align-self: center;
      font-size: 28px;
    }

    .dialog-window__messages-list {
      width: 100%;

      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      list-style: none;
      margin: 0;
      padding: 10px 10px 45px 10px;
      overflow: scroll;
      max-height: 83vh;

      .dialog-window__message {
        display: flex;
        margin-bottom: 5px;
        user-select: none;

        &.my {
          flex-direction: row-reverse;
          .dialog-window__user-dialog-wrapper {
            display: flex;
            justify-content: space-between;
            background-color: rgba(87, 63, 227, 0.37);
            max-width: 75%;
            padding: 10px 20px 10px 10px;
            margin-right: 10px;
            border-radius: 5px 0 25px 5px;
            .dialog-window__message-text {
              font-size: 15px;
              margin: 0 0 0 14px;
            }

            .dialog-window__message-time {
              font-size: 10px;
              color: #4d4d4c;
              align-self: flex-end;
              margin: -4px;
            }
          }
        }
        .dialog-window__user-photo {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }

        .dialog-window__user-dialog-wrapper {
          display: flex;
          justify-content: space-between;
          background-color: rgb(212, 219, 227);

          max-width: 75%;
          padding: 10px 10px 10px 20px;
          margin-left: 10px;

          border-radius: 25px 5px 5px 0;

          .dialog-window__message-text {
            font-size: 15px;
            margin: 0 14px 0 0;
          }

          .dialog-window__message-time {
            font-size: 10px;
            color: #4d4d4c;
            align-self: flex-end;
            margin: -4px;
          }
        }
      }
    }
  }
}
