@import 'src/styles/scss/vars';

.section-friends__friend-item {
  width: 20vw;
  min-height: 400px;
  background-color: #fbf9fa;
  margin-right: 1vw;
  border-radius: $border-standart;
  margin-bottom: 20px;
  overflow: hidden;

  .friend-item__background {
    width: 100%;
    height: 130px;
  }

  .friend-item__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -60px;

    .friend-item__image {
      width: 110px;
      height: 110px;
      border: 4px solid #fbf9fa;
      border-radius: 50%;
    }

    .friend-item__name {
      color: #535353;
      font-family: Montserrat600, sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 28px;
      margin-top: 10px;
      text-decoration: none;
      &:hover {
        color: $pink-c;
      }
    }

    .friend-item__username {
      color: $text-color;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: $pink-c;
      }
    }
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  .friend-item__bottom-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .friend-item__follow--num {
      font-family: Montserrat600, sans-serif;
      color: $text-color;
      margin-bottom: 10px;
      font-size: 18px;
    }

    .friend-item__follow--text {
      color: $text-color;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .friend-item__interactions {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .interaction-button {
      width: 60px;
      height: 60px;
      background: $light-c;
      border: 2px solid $pink-c;
      border-radius: 50%;
      margin: 0 10px;

      &:hover {
        background: $light-c;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .section-friends__friend-item {
    width: 33vw;
  }
}

@media screen and (max-width: 450px) {
  .section-friends__friend-item {
    width: 70vw;
  }
}
