@import '../../../styles/scss/vars';

$switcher-item-c: #f0eeef;

.login-wrapper {
  height: 100vh;

  .startpage-text-wrapper {
    top: 31vh;
    left: 8vw;

    .startpage-text {
      display: inline-block;
      font-size: 2rem;
      line-height: 4rem;
      color: #fbf9fa;
      width: 38vw;
    }
  }
}

.login-inner-wrapper {
  position: absolute;

  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 0 auto; */
  margin-top: 22vh;
  margin-bottom: 5vh;
  transform: translate(13%, 10%);
}

.login-container {
  top: 150px;
  right: 150px;
  width: 40vw;

  background: $light-c;
  border-radius: $login-borders-rad;
  overflow: hidden;
}

.form-switcher {
  height: 70px;
}

.switcher-item {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 70px;
  background: $switcher-item-c;
  overflow: hidden;
  line-height: 66px;
  text-align: center;

  text-transform: uppercase;
  z-index: 3;
  cursor: pointer;
}

.switcher-item:nth-child(1) {
  border-right: $login-borders;
}

.switcher-item.active {
  background: $light-c;
}

.switcher-item__inner {
  position: relative;
  background: $switcher-item-c;
  font-size: 12px;
  font-weight: bold;
  color: $dark-c;
  z-index: 10;
  user-select: none;
}

.active .switcher-item__inner {
  background: $light-c;
}

.switcher-item__inner:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  border: 2.5px solid $dark-c;
  border-radius: 50%;

  z-index: -10;
}

.active .switcher-item__inner:before {
  border: 2.5px solid $pink-c;
}

.switcher-item__ripple {
  display: inline-block;
  background: $pink-c;
  opacity: 0.8;
  width: 300px;
  height: 300px;
  transform: scale(0);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 0.5s linear;
  z-index: 1000;
}
@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0.1;
  }
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}
.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}
.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
.hints {
  margin: 0;
  padding: 10px 0 10px 0;
  background: $light-c;
  color: gray;
  font-size: 10px;
}

.date-of-birth {
  background: $light-c;
}

@media screen and (max-width: 1050px) {
  .login-inner-wrapper {
    flex-direction: column;

    .login-container {
      width: 80vw;
    }
  }

  .login-wrapper {
    .startpage-text-wrapper {
      text-align: center;

      .startpage-text {
        width: 64vw;
      }
    }
  }
}
