@import 'src/styles/scss/vars';

.card-add-post__form {
  min-height: 200px;
  background-color: $light-c;
}

.card-add-post__text-wrapper {
  display: flex;
  min-height: 228px;
  border-bottom: 1px solid rgb(230, 236, 245);
}
//.card-add-post__photo-wrapper {
//  width: 100%;
//  max-width: 70px;
//}

.card-add-post__input {
  width: 100%;
  //max-width: 530px;
  min-height: 190px;
  background-color: #fbf9fa;
  border: none;
  padding: 24px 10px 0 30px;
}

.card-add-post_functions-wrapper {
  display: flex;
  min-height: 84px;
  width: 100%;

  position: relative;
  margin: 0 auto;
  padding: 0 1vw;
  align-items: center;
  justify-content: space-between;
}

.card-add-post__button {
  background-color: #e64e6c;
  color: white;
  border-radius: $border-standart;
  padding: 0.8rem 2.1rem;
  border: none;
  cursor: pointer;
}

.card-add-post__post-image {
  position: absolute;
  top: 50%;
  left: 1vw;
  cursor: pointer;
}

.card-add-post__file-name {
  position: absolute;
  top: 50%;
  left: 3vw;
}

.card-add-post__post-input {
  position: absolute;
  top: 50%;
  left: 1vw;
  cursor: pointer;
  opacity: 0;
  max-width: 20px;
}


.card-add-post__functions-inner {
  position: relative;
  width: 100%;
}

.card-add-post__card-subtitle {
  font-size: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 3vw;
  cursor: pointer;
  font-weight: 500;
  color: grey;
}

@media screen and (max-width: 820px) {
  .card-add-post_functions-wrapper {
    padding: 0 1vw;
  }
}
