@import '../../../../styles/scss/vars';
$form-pd: 20px;
$err-c: #ff413a;

.login-form__title {
  color: $dark-c;
  margin: 0;
  padding: $form-pd;
  border-top: $login-borders;
  border-bottom: $login-borders;
  font-size: 14px;
  font-weight: bold;
  background: $light-c;

  &.err {
    color: $err-c;
  }
}

.login-form__body {
  padding: $form-pd;
  width: 100%;
}

.login-form__input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $violet-c;
  background: $light-c;

  width: 100%;
  transition: 0.3s;

  &.valid {
    border-color: #01c063;
  }

  &.invalid {
    border-color: $err-c;
  }

  &:focus {
    outline: none;
    border-color: $violet-c;
  }

  &::placeholder {
    font-size: 14px;
  }
}

.login-form__button {
  background: $violet-c;
  color: $light-c;

  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.login-link {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.hints {
  margin: 0;
  padding: 10px 0 10px 0;
  color: gray;
  font-size: 10px;
}

.reg-errors {
  margin: 0;
  padding: 10px 0 10px 0;
  color: $err-c;
  font-size: 10px;
}

.date-of-birth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 0 0 0 10px;
}

//--------------------SELECT--------------------------

.select-dob-wrapper {
  display: flex;
  justify-content: space-between;
}

.select-box {
  display: flex;
  width: 100px;
  margin-left: 10px;
  flex-direction: column;

  .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: $login-borders-rad;
    overflow: hidden;

    order: 1;
  }

  .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }

  .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }

  .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 $login-borders-rad $login-borders-rad 0;
    overflow: hidden;
  }

  .options-container::-webkit-scrollbar-thumb {
    background: #525861;
  }

  .option:first-child {
    display: none;
  }

  .option,
  .selected {
    padding: 10px;
    cursor: pointer;
  }

  .option:hover {
    background: #414b57;
  }

  label {
    cursor: pointer;
  }

  .option input[type='radio'] {
    display: none;
  }
}

.selected {
  background: #2f3640;
  border-radius: $login-borders-rad;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;

  &::first-letter {
    text-transform: uppercase;
  }

  &:after {
    content: '';
    background-size: contain;
    background: url('../../../../assets/icons/arrow-down.svg') no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 0;
    top: 5px;

    transition: all 0.4s;
  }
}

//--------------------SELECT--------------------------
