.section__header-background {
  background-color: #37257e;
  padding: 52px 75px 0;
  &-img {
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 400px;
  }

  .full {
    background-size: 100% 100%;
  }

  .sm {
    background-size: 70% 70%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .md {
    background-size: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}
