@import "src/styles/scss/vars";

/*PROFILE INTRO*/

.section-account__profile-intro {
  background-color: #fbf9fa;
  width: 100%;
  max-width: 295px;
  border-radius: $border-standart;
  position: sticky;
  top: 14vh;
}

.profile-intro {
  padding: 25px 20px;
}

.profile-intro__title {
  font-weight: 600;
}

.profile-intro__title-link {
  text-decoration: none;
  color: #7f7d84;
  transition: 0.2s;
}

.profile-intro__title-link:hover {
  color: #e64e6c;
}

.profile-intro__social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.profile-intro__social-item {
  width: 100%;
  max-width: 200px;
  min-height: 25px;
}

.profile-intro__social-link {
  display: block;
  height: 25px;
  margin-bottom: 15px;
}

.profile-intro__social-link--facebook {
  background-color: #2f5b9d;
}

.profile-intro__social-link--twitter {
  background-color: #38bff1;
}

.profile-intro__social-link--dribble {
  background-color: #f74881;
}

