@import 'src/styles/scss/vars';

.messages-main {
  background-color: #37257e;
  min-height: 100vh;
  padding: 0 0 15px 0;
  margin: 0;

  .section-messages__main {
    width: 80vw;
    min-height: 83vh;
    margin: 10px 20px 10px 10vw;
    border-radius: $border-standart;
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .messages-main {
    .section-messages__main {
      margin: 30px 20px 10px 10vw;
    }
  }
}


@media screen and (max-width: 400px) {
  .messages-main {
    .section-messages__main {
      //margin: 30px 20px 10px 40px;
      width: 83vw;
    }
  }
}
