.main-header {
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 100px;
}

.main-header__logo-img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 15px;
}

.main-header__logo-img-large {
  width: 350px;
  transform: translate(27%);
}

.main-header__page-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.main-header__search {
  display: flex;
  align-items: center;
  padding: 0 10px;

  .main-header__input {
    height: 70px;
    border: none;
    width: 30vw;
    text-indent: 10px;

    &:focus {
      outline: none;
    }
  }

  .main-header__search-icon {
    max-width: 75px;
    padding: 10px 7.5px 0;
    transition: 0.3s;

    img {
      width: 50px;
      height: 46px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.8) rotate(45deg);
    }
  }
}

@media screen and (max-width: 1050px) {
  .main-header__logo-img-large {
    display: none !important;
  }
}
