@import 'src/styles/scss/vars';

.left-sidebar__open-close-button {
  display: none;
}
.left-sidebar {
  width: 100%;
  max-width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 0.2s;
  z-index: 2;
  transform: translateX(0);

  .left-sidebar__nav-check {
    display: block;
    opacity: 0;
    position: fixed;
    width: 139px;
    top: 112px;
    left: 34px;
    z-index: 4;
  }

  .left-sidebar__logo {
    min-height: 70px;
    background-color: #fbf9fa;
  }

  .left-sidebar__nav-menu {
    padding-top: 76px;
    background-color: #e64e6c;
    height: 100%;

    .left-sidebar__nav-list {
      list-style: none;
      overflow-y: scroll;
      height: 74vh;
      margin: 0;
      padding: 0 0 6vh 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .left-sidebar__nav-item {
        display: flex;
        position: fixed;
        align-items: center;
        margin-left: 29%;

        .left-sidebar__menu-link {
          color: #fbf9fa;
          text-decoration: none;
          position: relative;
          width: 60px;
          padding-left: 55px;
          padding-top: 20px;
          padding-bottom: 20px;
          //margin-left: 1.4rem;
          transition: 0.2s;

          &:hover {
            font-size: 20px;
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
              0px 18px 23px rgba(0, 0, 0, 0.1);
          }

          &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-size: 65% 85%;
            background-repeat: no-repeat;
            position: absolute;
            top: 16px;
            left: 0;
          }

          .left-sidebar__menu-link-icon {
            position: absolute;
            left: 0;
            margin-right: 10px;
            width: 27px;
            height: 27px;
          }
        }


      }

      .nav-item__account {
        top: 20vh;
      }

      .nav-item__homepage {
        top: 30vh;
      }

      .nav-item__message {
        top: 40vh;
      }

      .nav-item__edit {
        top: 50vh;
      }

      .nav-item__search {
        top: 60vh;
      }

      .nav-item__followers {
        top: 70vh;
      }

      .nav-item__following {
        top: 80vh;
      }

      .nav-item__logout {
        top: 90vh;
      }

      .nav-item__collapse-menu {
        cursor: pointer;
        z-index: 3;
        position: fixed;
        top: 89px;
      }
    }
  }
}

.left-sidebar__nav-check:checked ~ .left-sidebar {
  width: 75px;
  font-size: 0;
  line-height: 20px;
}

.left-sidebar__nav-check:checked ~ .nav-item__collapse-menu {
  font-size: 0;
  line-height: 20px;
}

.left-sidebar__nav-check ~ .left-sidebar {
  width: 270px;
  line-height: 20px;
  font-size: 16px;
}

.left-sidebar__nav-check ~ .left-sidebar .left-sidebar__menu-link-icon {
  position: absolute;
  left: 0;
  width: 27px;
  height: 27px;
}




.left-sidebar__nav-check:checked ~ .left-sidebar__open-close-button {
  position: fixed;
  top: 50%;
  z-index: 3;
  left: 0;
  width: 28px;
  height: 80px;
  background-color: $pink-c;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.left-sidebar__nav-check ~ .left-sidebar__open-close-button {
  position: fixed;
  top: 50%;
  z-index: 3;
  left: 269px;
  width: 28px;
  height: 80px;
  background-color: $pink-c;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media screen and (max-width: 1020px) {
  .left-sidebar__nav-check:checked ~ .left-sidebar {
    width: 7vw;
    font-size: 0;
    line-height: 20px;
  }

  //.left-sidebar__menu-link {
  //  margin-left: 1.1rem;
  //}
}

@media screen and (max-width: 800px) {
  .left-sidebar__nav-check:checked ~ .left-sidebar .left-sidebar__nav-menu {
    display: none;
  }

  .left-sidebar__open-close-button {
    display: block;
    span {
      position: absolute;
      display: inline-block;
      top: 10%;
      right: 15%;
      font-size: 3rem;
    }
  }

  .left-sidebar__nav-check:checked {
    display: block;
    opacity: 0;
    position: fixed;

    width: 70px;
    height: 77px;
    top: 50% !important;
    left: 0;
    z-index: 4;
  }

  .left-sidebar__nav-check {
    position: fixed;
    opacity: 0;
    width: 275px;
    height: 77px;
    top: 50% !important;
    left: 80px;
    z-index: 4;
  }

  .left-sidebar__nav-check:checked ~ .left-sidebar__open-close-button {
    position: fixed;
    top: 50%;
    z-index: 3;
    left: 0;
    width: 28px;
    height: 80px;
    background-color: $pink-c;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .left-sidebar__nav-check ~ .left-sidebar__open-close-button {
    position: fixed;
    top: 50%;
    z-index: 3;
    left: 269px;
    width: 28px;
    height: 80px;
    background-color: $pink-c;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}
