@import 'src/styles/scss/vars';

.section-search__main {
  background-color: #37257e;
  width: 83vw;
  margin: 15px auto;
  //min-height: 500px;
  border-radius: $border-standart;
  display: flex;
  flex-wrap: wrap;
}
