@import 'src/styles/scss/vars';
.right-sidebar {
  width: 100%;
  padding-top: 70px; /*паддинг на высоту хедера*/
  max-width: 270px;
  background-color: #e64e6c;
  height: 100vh; /*высота экрана*/
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.2s;
  transform: translateX(0);

  .right-sidebar__messages-list {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    .right-sidebar__messages-list--inner {
      margin: 0;
      height: 100%;

      overflow-y: scroll;
      overflow-x: hidden;
      list-style: none;
      padding: 15px 0 0 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .right-sidebar__messages-list-item {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 230px;
        justify-content: space-between;
        padding: 1vw 1vw 1vw 19px;
        margin-bottom: 5px;

        .right-sidebar__user-photo {
          width: 33px;
          height: 33px;
          margin-right: 3vw;
        }
      }
    }
  }

  .right-sidebar__messages-list-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 75px;
    min-height: 75px;
    background-color: $icons-bc;

    img {
      fill: #fbf9fa;
      width: 25px;
      height: 25px;
    }
  }

  .right-sidebar__messenger-icon-wrapper {
    background-color: #4c4b54;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 270px;
    min-height: 75px;

    .right-sidebar__messenger-icon {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: #fbf9fa;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.right-sidebar__nav-check:checked {
  display: block;
  opacity: 0;
  position: fixed;
  width: 70px;
  height: 77px;
  top: 677px;
  right: 0;
  z-index: 4;
}

.right-sidebar__nav-check {
  position: fixed;
  opacity: 0;
  width: 80px;
  height: 77px;
  top: 677px;
  right: 80px;
  z-index: 4;
}

.right-sidebar__nav-check:checked ~ .right-sidebar {
  width: 75px;
  z-index: 1;
}

.right-sidebar__nav-check ~ .right-sidebar {
  width: 270px;
  z-index: 1;
}

.right-sidebar__nav-check ~ .right-sidebar .right-sidebar__messenger-icon {
  width: 270px;
}

.right-sidebar__nav-check ~ .right-sidebar .right-sidebar__messages-list-icon {
  max-width: 270px;
  min-height: 80px;
}

@media screen and (max-width: 1020px) {
  .right-sidebar__nav-check:checked ~ .right-sidebar {
    width: 7vw;
  }

  .right-sidebar__messages-list-item {
    padding: 1vw 1vw 1vw 16px !important;
  }
}

@media screen and (max-width: 920px) {
  .right-sidebar__messages-list-item {
    padding: 1vw 1vw 1vw 16px !important;
  }
}

@media screen and (max-width: 800px) {
  .right-sidebar__messages-list-item {
    padding: 1vw 1vw 1vw 14px !important;
  }
  .right-sidebar__nav-check:checked ~ .right-sidebar {
    display: none;
  }

  .right-sidebar__open-close-button {
    span {
      position: absolute;
      display: inline-block;
      top: 10%;
      right: 15%;
      font-size: 3rem;
    }
  }

  .right-sidebar__nav-check:checked {
    display: block;
    opacity: 0;
    position: fixed;

    width: 70px;
    height: 77px;
    top: 50% !important;
    right: 0;
    z-index: 4;
  }

  .right-sidebar__nav-check {
    position: fixed;
    opacity: 0;
    width: 275px;
    height: 77px;
    top: 50% !important;
    right: 80px;
    z-index: 4;
  }

  .right-sidebar__nav-check:checked ~ .right-sidebar__open-close-button {
    position: fixed;
    top: 50%;
    z-index: 3;
    right: 0;
    width: 28px;
    height: 80px;
    background-color: $pink-c;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .right-sidebar__nav-check ~ .right-sidebar__open-close-button {
    position: fixed;
    top: 50%;
    z-index: 3;
    right: 269px;
    width: 28px;
    height: 80px;
    background-color: $pink-c;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}
