.card--custom {
  background-color: #7fc1ff;
}

.section-account__card--custom {
  padding: 25px;
  margin-bottom: 20px;
}

.section-account__post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-account__name-info-wrap {
  position: relative;
  padding-left: 48px;
  padding-top: 2px;
}

.section-account__post-footer {
  display: flex;
  padding: 25px 0 0 0;
  border-top: 1px solid rgb(230, 236, 245);
}

.card-text {
  display: block;
  min-height: 48px;
  padding: 19px 0;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

.section-account__post-profile-img {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.section-account__span {
  position: relative;
}

.section-account__span::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: grey;
}

.section-account__span:nth-child(1)::before {
  left: -14px;
}

.section-account__span:nth-child(2)::before {
  left: -7px;
}

.card-subtitle-name {
  line-height: 24px;
  color: #414350;
  font-weight: 500;
  transition: 0.2s;
  text-decoration: none;
  /* margin: 0 0 7px 0; */
  /* margin: 0 0 7px 0; */
}

.card-subtitle-name:hover {
  color: #e64e6c;
}

.card-subtitle-date {
  margin: 0;
  font-weight: 600;
  color: grey;
  /* padding-left: 0px; */
}

.actions__like {
  display: flex;
  align-items: center;
}

.like-icon {
  width: 20px;
  height: 20px;
}

.like-number {
  line-height: 23px;
  padding-left: 5px;
}
