@import 'src/styles/scss/vars';

.content-inputs__form {
  width: 100%;
}

.form-content {
  border-top: 1px solid #4d4d4c;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-title {
  margin: 0;
  padding: 15px 25px;
}

.form-content__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 860px;
  .form-content__wrapper--first {
    display: flex;
    flex-wrap: wrap;
  }

  .form-content__change-password {
    padding-bottom: 10vh;

    .form-content__change-password-input {
      width: 100%;
    }
  }
}
.edit-form__save-button {
  width: 100%;

  border: none;
  background-color: $pink-c;
  color: $header-bg;
  padding: 1rem 3rem;
  border-radius: 4px;
  cursor: pointer;
}

.edit-form__input {
  padding: 18px 15px 18px 15px;
  border-radius: 4px;
  border: 1px solid $violet-c;
  width: 100%;

  margin-bottom: 30px;
  transition: 0.3s;

  &:focus {
    outline: none;
    border-color: $pink-c;
  }

  &::placeholder {
    font-size: 14px;
  }

  &--bio {
    width: 100%;
    max-width: 860px;
  }

  &--social {
    width: 100%;
    max-width: 860px;
  }
}

.edit-form__select {
  width: 100%;
  max-width: 255px;
  margin-right: 0;
}
