@import "src/styles/scss/vars";
/*FRIENDS*/

//.section-account__friends {
//  //background-color: #fbf9fa;
//  background-color: $violet-c;
//  width: 20vw;
//  //max-width: 295px;
//  min-height: 247px;
//  border-radius: $border-standart;
//  position: sticky;
//  top: 16vh;
//}

.friends {
  padding: 25px 20px;
  border-radius: $border-standart;
  background-color: $light-c;

  .friends__header-title {
    font-weight: 600;

    .friends__header-title-link {
      text-decoration: none;
      color: #7f7d84;
      transition: 0.2s;

      &:hover {
        color: #e64e6c;
      }
    }
  }
}

.friends__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0 0 0;
  border-top: 1px solid rgb(230, 236, 245);

  .friends__list-item {
    background-color: #e64e6c;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 8px 8px 0;
  }
}
