@charset "UTF-8";
@import 'vars';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.display-none {
  display: none;
}

.height-100 {
  height: $height;
}

.page-main {
  background-color: #37257e;
  //height: 100%;
  min-height: 100vh;
}

.page-main__wrapper {
  position: relative;
  width: 100%;
  padding-top: 70px;
  /* border-top-left-radius: 7px; */
  /* border-top-right-radius: 7px; */
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
