$header-bg: #37257e;
$main-bg: #37257e;
$light-c: #fbf9fa;
$pink-c: #e64e6c;
$violet-c: #37257e;
$violet-blue-c: #221870;
$dark-c: #111112;

$icons-bc: #4c4b54;
$padding: 20px, 20px;
$header-bg: $light-c;
@import 'main';
