@charset "UTF-8";

@import 'normalize.css';

@font-face {
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat500;
  src: url('../../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat600;
  src: url('../../assets/fonts/Montserrat-SemiBold.ttf');
}

@import 'vars';
@import 'index';
