$light-c: #fbf9fa; // около белый
$pink-c: #e64e6c; // розовый
$violet-c: #37257e; // фиолетовый
$violet-blue-c: #221870; // фиолетовый под надписью города на главной странице DevEducation
$dark-c: #111112; // черный почти
$icons-bc: #4c4b54; // background color иконок соцсетей
$height: 100%;
$header-bg: $light-c;
$login-borders: 1.5px solid #e6ecf5;
$login-borders-rad: 5px;
$text-color: #7d7d7d;
$border-standart: 7px;
