@import 'src/styles/scss/vars';

.messages-list {
  background-color: $light-c;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  overflow: scroll;
  max-height: 83vh;
  width: 100%;
  max-width: 350px;

  .messages-list__item {
    background-color: $light-c;
    border-bottom: 1px solid $text-color;
    display: flex;
    padding: 8px;
    overflow: hidden;
    cursor: pointer;

    &.dialog-selected {
      background: $violet-c;
      color: $light-c;
    }

    .messages-list__item-header {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      max-width: 270px;
    }

    .messages-list__item-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .messages-list__item-preview {
      display: flex;
      flex-direction: column;
      width: 100%;

      .messages-list__user-info {
        padding-bottom: 10px;
      }

      .messages-list__message-preview {
        white-space: nowrap;
        overflow: hidden;

        .messages-list__message-my {
          color: $pink-c;
        }
      }
    }
  }
}
