@import 'src/styles/scss/vars';

.section-friends__main {
  background-color: #37257e;
  width: 83vw;
  margin: 15px auto;
  min-height: 500px;
  border-radius: $border-standart;
  display: flex;
  flex-wrap: wrap;

  .section-friends__friends-count {
    background-color: $light-c;
    width: 100%;
    min-height: 90px;
    border-radius: $border-standart;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;

    span {
      color: $dark-c;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1020px) {
  .section-friends__main {
    width: 70vw;
  }
}
